@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root { 
    font-size: 16px;
    --base-color: #fff;
    --border-color: rgba(255,255,255,0.3);
    --secondary-border-color: rgba(255,255,255,0.5);
    --swiper-pagination-color: #000;
}

* {
    font-family: 'Poppins', 'Didact Gothic', 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    color: var(--base-color);
}



