@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root { 
    font-size: 16px;
    --green: 9, 129, 74;
    --white: 255, 255, 255;
    --black: 2, 2, 2;
    --menu: 229, 198, 135;
    --border-color: rgba(255,255,255,0.3);
    --secondary-border-color: rgba(255,255,255,0.5);
    --header-footer-border-color: #38b000;
    --swiper-pagination-color: #000;
    --menu-background-color: #1A202C;
    --hover-menu-color: #008000;
}

* {
    font-family: 'Poppins', 'Didact Gothic', 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfffc;
    min-height: 100vh;
}

.main-content {
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(255,255,255,0.1), #0000004d), url('../images/white-house.jpg');
}

.information{
    min-height: 90vh;
    background-color: #2ba84a;
}



