main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.slide-container {
    background-color: gray;
    border-radius: 10px;
    max-width: 70em;
    width: 80%;
    height: 30em;
    padding: 2em;
}

.slide-content {
    margin: 0 2.5em;
}