---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout pageTitle="Home">
    <NavBar/>
    
    <main>
        <Slider/>
    </main>
</Layout>
