---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout pageTitle="Home">
    
    <Header/>

    <section class="main-content">
    </section>
    
    <section>
        <Slider/>
    </section>

    <section class="information">

    </section>

    <Footer/>
</Layout>
