---
interface Props {
    nameImage?: string;
    cardTitle?: string;
}

const { nameImage } = Astro.props as Props;
const { cardTitle } = Astro.props as Props;
---

<div class="max-w-md bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">

    <img class="object-cover h-80 rounded-t-lg" src={`assets/images/${nameImage}.jpg`} alt="image" />

    <div class="p-5">
        <h5 class="mb-2 text-center text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{cardTitle}</h5>
        
        <p class="mb-3 text-justify font-normal text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, architecto beatae. Ad voluptatem voluptate animi sunt suscipit, modi culpa quas blanditiis libero enim porro atque ex reiciendis sequi debitis hic.</p>
    </div>
    
</div>

<style>
.card-information{
    border: 1.5px solid #fff;
    border-radius: 5px;
    width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#card-icon{
    font-size: 2rem;
    color: #2ba84a;
}

.card-icon-wrapper{
    border-radius: 50%;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #fff;
}
</style>