---
interface Props {
    nameImage?: string;
    cardTitle?: string;
}

const { nameImage } = Astro.props as Props;
const { cardTitle } = Astro.props as Props;
---

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="object-cover h-80 rounded-t-lg" src={`src/images/${nameImage}.jpg`} alt="imagen" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{cardTitle}</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
    </div>
</div>

<style>
.card-information{
    border: 1.5px solid #fff;
    border-radius: 5px;
    width: 20rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#card-icon{
    font-size: 2rem;
    color: #2ba84a;
}

.card-icon-wrapper{
    border-radius: 50%;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #fff;
}
</style>