---
interface Props {
    cardContent?: string
};

const { cardContent = "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati sed atque veniam repellat pariatur eligendi placeat, inventore earum. Exercitationem odit magnam, quod veniam iste impedit?" } = Astro.props as Props;
---

<div class="card swiper-slide">
    <h2>{ cardContent }</h2>
</div>

<style>   
.card {
    background-image: url('../images/air-view.jpg');
    background-size: cover;
    border-radius: 8px;
    width: 18em;
    height: 18em;
    color: white;
}
</style>