---
import Card_Information from './Card_Information.astro';
---

<section id="projects">
    <h2 class="title-information">Proyectos</h2>
    <div class="container-information">
        <Card_Information nameImage="card-image-2" cardTitle="Casas"/>
        <Card_Information nameImage="card-image-3" cardTitle="Apartamentos"/>
        <Card_Information nameImage="card-image-1" cardTitle="Terrenos"/>
    </div>
</section>

<style>
#projects{
    background-color:#2ba84a;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
}

.title-information{
    color: #fff;
}

.container-information{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2rem;
}

@media (max-width: 1400px){
    #projects {
        padding: 1em;
    }
}

@media (max-width: 1080px){
    #projects{
        height: 100%;
    }

    .container-information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px){
    .container-information {
        padding: 1em;
    }
}

@media (max-width: 700px){
    #projects{
        height: 100%;
    }

}
</style>