<section class="information">
    <h2 id="label">Green Field Park</h2>
</section>

<style>
.information{
    min-height: 90vh;
    background-color: #2ba84a;

    display: grid;
    place-items: center;
}

#label{
    color: #fff;
    text-shadow: #000;
}
</style>