<section class="main-content">
    <span class="main-title">GREEN FIELD PARK</span>
</section>

<style>
.main-content {
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3) 100%, #000 0%), url('public/assets/images/white-house.jpg');
}

.main-title{
    color: #fff;
    font-size: 5rem;
    font-family: 'Rockwell';
}

@media (max-width: 800px){
    .main-content{
        text-align: center;
    }
}

</style>