<header class="header">
    <nav>
        <h2 class="logo">Green Field Park</h2>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="#">Terrenos</a></li>
            <li><a href="#">Contáctanos</a></li>
        </ul>
        <button class="btn-whatsapp"><i class="fa-brands fa-whatsapp"></i></button>
    </nav>
</header>

<style>   
.btn-whatsapp {
    font-size: 2rem;
    color: var(--base-color);
    background-color: transparent;
    border: none;
}
</style>